version: '3.9'
services:
  backend:
    build: ./backend
    ports: 
      - '3000:3030'
    volumes: 
      - /app/node_modules
      - ./backend:/app
    container_name: server
  web:
    build: 
      context: ./frontend/video-converter
      dockerfile: Dockerfile.dev
    ports: 
      - '8080:8080'
    volumes: 
      - /app/node_modules
      - ./frontend/video-converter:/app
    container_name: web-page